* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
}

body,html {
    height: 100%;
    margin: 0;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

/* desccription on the screen */
div.bigTitle {
    position: absolute;
    top: 50vh;
    left: 30%;
    border: 3px solid #575f4c;
}

/*flex box*/
.extraItem{
    display: flex;
}
.extraItem > div{
  background-color: #f1f1f1;
  width: 5rem;
  margin: .5rem;
  padding: .2rem;
  font-size: 30px;
  border: 1px solid purple;
}